/* reset.css */
iframe {
  display: none;
}

/* Box Model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
}

/* Links */
a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

/* Buttons */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #23527c;
}

/* Forms */
input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #23527c;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px;
}

.item:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px;
}

.item-other {
  transition: 0.3s !important;
}

.item-other:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px black !important;
  transition: 0.3s;
}

.item-other:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px !important;
  transition: 0.3s;
}

.border-top-black {
  border-top: 1px solid black !important;
}

.border-bottom-black {
  border-bottom: 1px solid black !important;
}

.border-right-black {
  border-right: 1px solid black !important;
}

.border-left-black {
  border-left: 1px solid black !important;
}

.border-black {
  border: 1px solid black !important;
}
